div>.menu-links {

    color: $color-four;
    box-shadow: 2 1 2px #000;
    width: 200px;
    padding: 10px 5px 10px 5px;
    font-size: 22px;
    margin-top: 10px;
    text-align: center;
    font-family: 'CustomFont_description';
    background-color: $color-three;
    border-left: 0px solid $color-one;
    transition: all 1s ease-in-out;

    &:hover {
        background-color: #000000ad;
        color: $color-one;
        transition: all 300ms ease-in-out;
    }
}